<!DOCTYPE html>
<html lang="ko-kr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="theme-color" content="#000000" />
        <meta
            name="description"
            content="SE Community Web Footer"
        />
        <title>SE Community Web Footer</title>
        <script src="https://kit.fontawesome.com/70ef848039.js" crossorigin="anonymous"></script>
        <link href="../../static/css/footer/footer.css" rel="stylesheet" />
        <link href="../../static/css/font.css" rel="stylesheet" />
    </head>
<body>
    <div class="blank-space"></div>

    <div class='footer'>
        <h3>SE Community Page</h3>
        <p> Spirngboot / Thymeleaf / Mysql / Redis / Swagger / Jwt / AWS</p>
        <p>
            <a href='https://ko-kr.facebook.com/'><i class="fa-brands fa-instagram"></i></a> |&nbsp; 
            <a href='https://www.google.com/'><i class="fa-brands fa-google"></i></a> |&nbsp;
            <a href='https://www.youtube.com/'><i class="fa-brands fa-youtube"></i></a> |&nbsp;
            <a href='https://github.com/selab-hs/SE-Community-Service'><i class="fa-brands fa-github"></i></a>
        </p>
    </div>
</body>
</html>