<!DOCTYPE html>
<html lang="ko-kr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="theme-color" content="#000000" />
        <meta
            name="description"
            content="SE Community Web Header"
        />
        <title>SE Community Web Header</title>
        <link href="../../static/css/header/header.css" rel="stylesheet" />
        <link href="../../static/css/font.css" rel="stylesheet" />
    </head>
<body>
    <div class='header'>
        <a >
            <img class='logo' alt="logo" src='../../static/images/se-lab.png'/>
        </a>

        <div class="header-text">
            <label class="main-text">SE LAB</label>
            <label class="sub-text">Software engineering LAB</label>
        </div>
    
        <div class='navbar'>
            <a class='navi-item'><div>Home</div></a>
            <a class='navi-item'><div>Support</div></a>
            <a class='navi-item'><div>Board</div></a>
        </div>

        <div class='header-toolbar'>
            <a >Login/Logout</a> | <a >Join</a> | <a >Mypage</a> 
        </div>
    </div>
    
    <div class="blank-space"></div>
</body>
</html>

