<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta
            name="description"
            content="SE Community Web Sign Up Site"
    />
    <title>SE Community Web Sign Up</title>
    <script src="https://kit.fontawesome.com/70ef848039.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header/header.css" type="text/css"/>
    <link rel="stylesheet" href="/css/member/sign-up.css" type="text/css"/>
    <link rel="stylesheet" href="/css/footer/footer.css" type="text/css" />
    <link rel="stylesheet" href="/css/font.css" type="text/css"/>
    <script src="/js/member/sign-up.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
</th:block>
</html>