<!DOCTYPE html>
<html lang="ko-kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/login-layout}">
    <th:block layout:fragment="content">
    <body>
        <div class='login_container'>
            <div class='login_box'>
                <div class='login_text_id'>
                    ID
                </div>
                <div class='login_input_id'>
                    <input id="login_id" type='text' placeholder='ID' name='userId' required/>
                </div>

                <div class='login_text_pwd'>
                    PassWord
                </div>
                <div class='login_input_pwd'>
                    <input id="login_password" type='password' placeholder='Pwd' name='userPwd' required/>
                </div>

                <div class='login_button_box'>
                    <input type="submit" value="Login" onclick="login_submit()"/>
                </div>
            </div>

            <div class='login_bottom_link'>
                <a >Join?</a>
                <a >Forgot Id/Pwd?</a>
            </div>
        </div>
    </body>
    </th:block>
</html>