<!DOCTYPE html>
<html lang="ko-kr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta
            name="description"
            content="SE Community Web Login Site"
        />
        <title>SE Community Web Login</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://kit.fontawesome.com/70ef848039.js" crossorigin="anonymous"></script>
        <link href="../../static/css/member/login.css" rel="stylesheet" />
        <script src="../../static/js/common.js"></script>
    </head>
<body>
    <div id='header'></div>
    <div class='login_container'>
        <div class='login_box'>
            <div class='login_text_id'>
                ID
            </div>
            <div class='login_input_id'>
                <input type='text' placeholder='ID' name='userId' required/>
            </div>

            <div class='login_text_pwd'>
                PassWord
            </div>
            <div class='login_input_pwd'>
                <input type='password' placeholder='Pwd' name='userPwd' required/>
            </div>

            <div class='login_button_box'>
                <input type="submit" value="Login" th:action=""/>
            </div>
        </div>

        <div class='login_bottom_link'>
            <a href="sign-up.html">Join?</a>
            <a >Forgot Id/Pwd?</a>
        </div>
    </div>
    <div id='footer'></div>
</body>
</html>