.header{
    top:0;
    width: 80%;
    height: 114px;
    display: flex;
    margin: auto;
    margin-top: 30px;
    border-bottom: 1.5px solid rgb(168, 163, 163);
}

.logo{
    position: line;
    width: 90px;
    height: 90px;
    margin-top: 5px;
    margin-left: 10px;
}

.logo:hover{
    transition: 0.2s;
    opacity: 0.2;
}

.header-text{
    width: 250px;
    padding-top: 30px;
    margin-left: 40px;
}

.main-text{
    font-family: 'BMHP';
    font-size: 45px;
}

.sub-text{
    width: 200px;
    font-size: 14px;
    padding-left: 8px;
    font-family: "BMY";
}

.navbar{
    width: 100%;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    padding-top: 8px;
    margin-top: 60px;
    border-top: 1.5px solid rgb(168, 163, 163);
}

.navbar .navi-item{
    flex-grow: 1;
    color: gray;
    font-family: "BMHA";
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}

.navbar :hover{
    color: white;
    background-color: rgb(151, 204, 220);
}

.header-toolbar{
    position: absolute;
    right: 10%;
    font-size: 18px;
    font-family: "BMHP";
    color: rgb(168, 163, 163);
    white-space: nowrap;
}

.header-toolbar a{
    text-decoration: none;
    color: rgb(168, 163, 163);
}

.header-toolbar a:hover{
    transition: 0.2s;
    color: rgb(44, 44, 44);
}

.blank-space{
    height: 50px;
}

@media screen and (max-width:1600px){
    .header{
        width: 1200px;
        height: auto;
        display: flex;
    }
}