<!DOCTYPE HTML>
<html lang="ko-kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/update-post-layout}">
<th:block layout:fragment="content">
  <div id="my-element">

    <h2>게시판 수정</h2>

    <div class="col-6 col-12-xsmall">
      <h1 >제목</h1>
      <input type="text" id="post_title"/>
      <br/>
    </div>


    <h3>내용</h3>
    <form action="insertStudentInfoForm" method="post">
      <div>
        <textarea name="editorTxt" id="editorTxt"
                  rows="20" cols="10"
                  placeholder="내용을 입력해주세요"
                  style="width: 500px"></textarea>
      </div>
      <input type="button" value="저장" onclick="update_post_submit()"/>
    </form>
  </div>
</th:block>
</html>