<!DOCTYPE HTML>
<html lang="ko-kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/view-post-layout}">
<th:block layout:fragment="content">
  <div id="my-element">
    <section >
    <h1 id="post_title"></h1>
    <br/>
      <h2 id="post_writer"></h2>

    <h3>내용</h3>

       <div class="col-12">
         <textarea name="demo-message" id="post_content"
                   rows="20" readonly ></textarea>
       </div>
      <br/>
      <ul class="actions">
        <li><input type="submit" onclick="updateButton()" value="수정"/></li>
        <li><input type="submit" onclick="deleteButton()" value="삭제"/></li>
      </ul>
      <hr>
    </section>

    <section>
      <section>

        <h2>댓글</h2>

        <div class="col-12">
          <textarea name="demo-message" id="comment-message" placeholder="댓글을 작성해주세요."
                    rows="6" ></textarea>
        </div>
        <div class="col-12">
          <ul class="actions">
            <li><input type="submit" onclick="create_comment_submit()" value="저장"/></li>
          </ul>
        </div>
      </section>

      <section >
        <div id="comments"></div>
      </section>
    </section>
  </div>
</th:block>
</html>