<!DOCTYPE html>
<html lang="ko-kr" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <header id="header">
        <h1><a href="http://localhost:8080/boards">SE Community</a></h1>
        <nav class="links">
            <ul></ul>
        </nav>
        <nav class="main">
            <ul>
                <li class="search">
                    <a class="fa-search" href="#search">Search</a>
                    <form id="search" method="get" th:action="@{/search}">
                        <input type="text" th:name="title" placeholder="게시판 제목을 입력해주세요." />
                    </form>
                </li>
                <li class="menu">
                    <a class="fa-bars" href="#menu">Menu</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Menu -->
    <section id="menu">

        <!-- Search -->
        <section>
            <form class="search" method="get" th:action="@{/search}">
                <input type="text" th:name="title" placeholder="게시판 제목을 입력해주세요." />
            </form>
        </section>

        <!-- Links -->
        <section>
            <ul class="links">
            </ul>
        </section>

        <!-- Actions -->
        <section>
            <ul class="actions stacked">
                <li><a id = "login_button" href="http://localhost:8080/login" class="button large fit">LogIn</a></li>
                <li><a id = "sign_up_button" href="http://localhost:8080/sign-up" class="button large fit">SignUp</a></li>
                <li><a id = "logout_button" class="button large fit" onclick="clear_localStorage()">LogOut</a></li>
                <li><a id = "edit_button" href="http://localhost:8080/edit" class="button large fit">Edit </a></li>
            </ul>
        </section>

    </section>

</th:block>
</html>

