<!DOCTYPE html>
<html lang="ko-kr" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <div class='header'>
        <a href="http://localhost:8080/boards">
            <img class='logo' alt="logo" src='images/se-lab.png'/>
        </a>

        <div class="header-text">
            <label class="main-text">SE LAB</label>
            <label class="sub-text">Software engineering LAB</label>
        </div>

        <div class='navbar'>
            <a class='navi-item' href="http://localhost:8080/boards"><div>Home</div></a>
            <a class='navi-item'><div>Support</div></a>
            <a class='navi-item' href="http://localhost:8080/boards"><div>Board</div></a>
        </div>

        <div class='header-toolbar'>
            <span id="not_exist_token"><a href="http://localhost:8080/login">Login</a> | <a href="http://localhost:8080/sign-up">Join</a></span>
            <span id="exist_token"><a onclick="clear_token()">Logout</a> | <a href="http://localhost:8080/edit">Edit</a></span>
        </div>
    </div>
    <div class="blank-space"></div>
</th:block>
</html>